
*{
  padding: 0;
  margin: 0; 
}

:root{
  font-size: 16px;

  --title-font-size: 1.5rem;
  --main-title-font-size: 2.5rem;
  --text-font-size: 1.15rem;
}

.appHeader{
  background-color: darkblue;
  height: 8vh;
  width: 100%;

  position: fixed;
}

.appHeader ul{
  display: flex; 
  flex-direction: row;
  justify-content: space-around;

  list-style: none;
  height: inherit;
  align-items: center;

}

ul li a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  
  font-size: var(--title-font-size);
}

.add{
  height: 92vh;
  display: grid; 
  place-content: center;
}

.containerAdd{
  padding: 0;
}

input{
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;
}

.inputContainer{
  display: flex; 
  flex-direction: column;
  justify-content: space-between;


  width: 20vw;
  margin: 0 auto;

  padding: 20px;
  height: 8vh;
  font-weight: 600;
  font-size: var(--text-font-size);
}


button{
  margin: 20px;
  padding: 20px;

  font-weight: 600;
  font-size: var(--text-font-size);
  background-color: darkblue;
  color: white;
  border-radius: 20px;
  border: 2px solid black;
}

button:hover{
  background-color: white;
  color: darkblue;
  border: 1px solid black;
}

.list{
  display: flex; 
  flex-direction: column;
  justify-content: space-around;

  height: 50vh;
  overflow-y: scroll;

  background-color: darkblue;
  text-align: center;

  padding: 10%;
}

.list h1{
  font-size: var(--main-title-font-size);
  color: #fff;
}

.studentItem{
  display: flex;
  justify-content: space-evenly;
}
.studentItem span{

  color: #fff;
  font-size: var(--text-font-size);

}

.delete{
  display: grid; 

  grid-template-columns: 1fr 1fr;

  padding: 10%;
}

.delete button{
  width: 50%;
}